<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\StateMachine\Step\Invoker">
        <arguments>
            <argument name="invokers" xsi:type="array">
                <item name="Task" xsi:type="string">Magento\Framework\StateMachine\Step\Invoker\Task</item>
                <item name="Pass" xsi:type="string">Magento\Framework\StateMachine\Step\Invoker\Pass</item>
                <item name="Success" xsi:type="string">Magento\Framework\StateMachine\Step\Invoker\Pass</item>
            </argument>
        </arguments>
    </type>
    <!--<preference for="Magento\Framework\StateMachine\Step\Invoker\Task\Http\ClientInterface" type="Magento\Framework\StateMachine\Step\Invoker\Task\Http\Client\Curl"/>-->
    <!--<preference for="Magento\Framework\StateMachine\Step\Invoker\Task\Http\ConverterInterface" type="Magento\Framework\StateMachine\Step\Invoker\Task\Http\JsonConverter"/>-->
    <!--<type name="Magento\Framework\StateMachine\Step\Invoker\Task">-->
        <!--<arguments>-->
            <!--<argument name="tasks" xsi:type="array">-->
                <!--<item name="MagentoRPC" xsi:type="string">Magento\Framework\StateMachine\Step\Invoker\Task\MagentoRPC</item>-->
            <!--</argument>-->
        <!--</arguments>-->
    <!--</type>-->

    <!--StateMachine Configuration Settings-->
    <preference for="Magento\Framework\StateMachine\Config\ConfigInterface" type="Magento\Framework\StateMachine\Config\Config" />
    <type name="Magento\Framework\StateMachine\Config\Config">
        <arguments>
            <argument name="data" xsi:type="object">Magento\Framework\StateMachine\Config\Data</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Framework\StateMachine\Config\Data" type="Magento\Framework\Config\Data">
        <arguments>
            <argument name="reader" xsi:type="object">Magento\Framework\StateMachine\Config\Reader</argument>
            <argument name="cacheId" xsi:type="string">SM</argument>
            <argument name="serializer" xsi:type="object">Magento\Framework\StateMachine\Config\Data\Serializer</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Framework\StateMachine\Config\SchemaLocator" type="Magento\Framework\Config\SchemaLocator">
        <arguments>
            <argument name="realPath" xsi:type="string">urn:magento:framework:StateMachine/etc/stateMachine.xsd</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Framework\StateMachine\Config\Reader" type="Magento\Framework\Config\Reader\Filesystem">
        <arguments>
            <argument name="converter" xsi:type="object">Magento\Framework\StateMachine\Config\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">Magento\Framework\StateMachine\Config\SchemaLocator</argument>
            <argument name="fileName" xsi:type="string">stateMachine.xml</argument>
            <argument name="idAttributes" xsi:type="array">
                <item name="/stateMachine/scenario" xsi:type="string">name</item>
                <item name="/stateMachine/scenario/step" xsi:type="string">name</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- -->
    <!--Resource Configuration Settings-->
    <preference for="Magento\Framework\StateMachine\Routine\Config\ConfigInterface" type="Magento\Framework\StateMachine\Routine\Config\Config" />
    <type name="Magento\Framework\StateMachine\Routine\Config\Config">
        <arguments>
            <argument name="data" xsi:type="object">Magento\Framework\StateMachine\Routine\Config\Data</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Framework\StateMachine\Routine\Config\Data" type="Magento\Framework\Config\Data">
        <arguments>
            <argument name="reader" xsi:type="object">Magento\Framework\StateMachine\Routine\Config\Reader</argument>
            <argument name="cacheId" xsi:type="string">SMCR</argument>
            <argument name="serializer" xsi:type="object">Magento\Framework\StateMachine\Config\Data\Serializer</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Framework\StateMachine\Routine\Config\SchemaLocator" type="Magento\Framework\Config\SchemaLocator">
        <arguments>
            <argument name="realPath" xsi:type="string">urn:magento:framework:StateMachine/etc/routines.xsd</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Framework\StateMachine\Routine\Config\Reader" type="Magento\Framework\Config\Reader\Filesystem">
        <arguments>
            <argument name="converter" xsi:type="object">Magento\Framework\StateMachine\Routine\Config\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">Magento\Framework\StateMachine\Routine\Config\SchemaLocator</argument>
            <argument name="fileName" xsi:type="string">routines.xml</argument>
            <argument name="idAttributes" xsi:type="array">
                <item name="/routines/routine" xsi:type="string">name</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- -->
</config>
